---
---
$mobile_max_width: 640px;

$side_margin: 90px;
$side_margin_mobile: 15px;

$header_title_height: 59px;
$header_title_width: 280px;

$header_title_x_offset: -10px;
$header_title_x_offset_mobile: -35px;

$header_title_text_top_padding: 25px;
$header_title_text_left_padding: 10px;

$header_title_text_x: $header_title_width + $header_title_x_offset + $header_title_text_left_padding;
$header_title_text_x_mobile: $header_title_width + $header_title_x_offset_mobile + $header_title_text_left_padding;

body {
	background: white;
	color: rgb(16, 30, 74);
	line-height: 1.5;
	margin: 0;
	padding: 100px $side_margin 0;
}

@media screen and (max-width: $mobile_max_width) {
	body {
		padding: 140px $side_margin_mobile 0;
	}
}

a:link {
	color: rgb(36, 50, 192);
}

a:visited {
	color: rgb(96, 60, 128);
}

div#header {
	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1;
		height: $header_title_height - $header_title_text_top_padding;
		padding-top: $header_title_text_top_padding;
		padding-left: $header_title_text_x;
		z-index: 100;
	}

	a:link,
	a:visited {
		color: white;
		font-size: 12px;
		font-weight: normal;
		text-decoration: none;
	}
}

@media screen and (max-width: $mobile_max_width) {
	div#header a {
		padding-left: $header_title_text_x_mobile;
	}
}

div.menu {
	background: #001e4b url(bg.png) repeat-x 0 100%;
	font-size: 13px;
	height: 92px;
	left: 0;
	line-height: 1;
	min-width: 650px;
	position: absolute;
	top: 0;
	width: 100%;

	ul,
	li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
		background: url(title.png) no-repeat $header_title_x_offset 0;
		height: 28px;
		left: 0;
		line-height: 1;
		padding-top: 64px;
		position: absolute;
		top: 0;
		width: 100%;

		li#menu-services {
			padding-left: 80px;
		}

		li#menu-search {
			position: absolute;
			top: 22px;
			right: 25px;
		}
	}

	a:link,
	a:visited {
		color: white;
		padding: 0 0.75em;
		position: relative;
		text-decoration: none;
		z-index: 200;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: underline;
	}
}

@media screen and (max-width: $mobile_max_width) {
	div.menu {
		min-width: 0;

		ul {
			background-position: $header_title_x_offset_mobile 0;

			li {
				display: none;
			}

			li#menu-services {
				padding-left: 55px;
			}

			li#menu-services,
			li#menu-recruitment,
			li#menu-blog {
				display: inline;
			}

			li#menu-search {
				display: inline;
				right: auto;
				top: 100px;
				left: $side_margin_mobile;
			}
		}
	}
}

h1 {
	font-size: 250%;
	padding: 0px;
	margin: 0px;

	a:link,
	a:visited {
		color: rgb(16, 30, 74);
		text-decoration: none;
	}
}

div.content h2,
div.day h3 {
	background: url(content-bg-top.png) no-repeat top left;
	font-size: 230%;
	font-weight: normal;
	margin-left: -30px;
	padding: 30px 0 0 30px;
}

@media screen and (max-width: $mobile_max_width) {
	div.content h2,
	div.day h3 {
		background-image: none;
		padding: 0;
		margin: 0;
		min-height: 40px;
	}
}

div.content h2 {
}

div.content h3,
div.day h4 {
	font-size: 200%;
	margin: 0;
}

div.content h3 {
/*
	background: url(content-bg-top2.png) no-repeat top left;
	margin: 3em 0 1em -20px;
	min-height: 73px;
	padding: 30px 0 0 20px;
*/
	margin: 3em 0 1em;
}

h2, h3, h4 {
	clear: both;
}

h2 img, h3 img, h4 img {
	max-width: 33%;
	float: right;
}

div.content h4,
div.day h5 {
	font-size: 150%;
	margin: 0;
}

div.content h5,
div.day h6 {
	font-size: 125%;
	margin: 0;
}

h1 .sub,
h2 .sub,
h3 .sub,
h4 .sub,
h5 .sub {
	color: #5774a0;
	display: block;
	border-top: 1px solid #e6edf8;
	font-size: 80%;
	font-weight: normal;
	margin-left: 15%;
	padding-right: 1em;
	text-align: right;
}

h1 .sub
{
	font-size: 70%;
}

h2 .sub .separator,
h3 .sub .separator,
h4 .sub .separator,
h5 .sub .separator {
	display: none;
}


div#footer {
	background: url(shadow.png) repeat-x 0 -3px;
	border-top: 1px solid;
	padding-top: 15px;
	text-align: center;
	clear: both;

	p.note {
		font-size: smaller;
	}
}

div.footer-menu ul,
div.footer-menu ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.footer-menu ul li
{
	margin-left: 2.5px;
	margin-right: 2.5px;
}

address {
	font-style: normal;
}

div.content {
	margin: 0 0 30px;
}

@media screen and (max-width: $mobile_max_width) {
	div.content {
		margin-bottom: 0;
	}
}

div.content,
div.day {
	padding: 0 30px 30px 0;
	background: url(content-bg.png) no-repeat bottom right;
	min-height: 188px;
	clear: both;
}

@media screen and (max-width: $mobile_max_width) {
	div.content,
	div.day {
		padding: 0;
		min-height: 0;
		background-image: none;
	}
}

dt {
	font-weight: bold;
	clear: both;
}

dl.date-and-topic dt {
	clear: both;
	float: left;
	width: 8em;
}

dl.date-and-topic dd {
	margin-left: 8.5em;
}


img.photo,
img.eye-catcher {
	float: right;
	margin: 0 0 1em 1em;
	border: 0 none;
}

img.eye-catcher {
	max-width: 50%;
}

div.figure img,
img.figure {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 640px) {
	div.figure img,
	img.photo {
		max-width: 590px;
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	div.figure img,
	img.photo {
		max-width: 430px;
		height: auto;
	}
}

@media screen and (max-width: 320px) {
	div.figure img,
	img.photo {
		max-width: 270px;
		height: auto;
	}
}

img.pdf-thumbnail {
	float: right;
	margin: 0 0 1em 1em;
}

h2, h3, h4, h5, h6 {
	clear: both;
}


table, td, th {
	border-collapse: collapse;
	border: 1px solid #5774a0;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td, th {
	padding: 0.3em;
}

td.price {
    text-align: right;
}


em, strong {
	font-weight: bold;
	font-style: normal;
	padding: 0.2em;
}

em {
	border: 1px solid #ffeb79;
}

strong {
	background: #ffeb79;
}

code {
	color: #669;
	overflow-wrap: break-word;
}

pre {
	border: 1px solid #AAA;
	padding: 0.5em;
	position: relative;
	overflow: auto;

	.caption {
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #AAA;
		border-width: 0 1px 1px 0;
		background: white;
		padding: 0.2em;
	}

	.caption+code {
		margin-top: 1.9em;
	}
}

del {
	opacity: 0.25;
}

ins {
	text-decoration-color: rgba(16, 30, 74, 0.25);
}

div.signature {
	margin-top: 3em;
	margin-bottom: 2em;
}

div.signature p.person {
	text-align: right;
}

div.following {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
}

p.subtitle {
	font-size: 160%;
	opacity: 0.7;
	margin: 0;
}

div.following p.following-mark {
	text-align: center;
}

p.afterpiece {
	margin-top: 2em;
	text-align: right;
}

p.press-release-subtitle {
    font-size: 160%;
    opacity: 0.7;
    margin: 0;
}

p.press-release-subtitle-small {
    font-size: 130%;
    opacity: 0.7;
    margin: 0.5em 0;
}


div.press-release-signature {
	text-align: right;
	margin-bottom: 2em;
}

div.press-release-signature p {
	margin: 0px;
}

dl.press-release-contact dt {
	clear: both;
	float: left;
	width: 7em;
}

dl.press-release-contact dd {
	margin-left: 7.5em;
}

li.level1 {
	margin-left: 1em;
}

li.level2 {
	margin-left: 2em;
}

li.level3 {
	margin-left: 3em;
}

li.level4 {
	margin-left: 4em;
}

li.level5 {
	margin-left: 5em;
}

div.date
{
	text-align: right;
}

table.internship p
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table.internship ul,
table.internship ol
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
}

table.internship ol
{
	padding-left: 2em;
}

table.curriculum td
{
	text-align: center;
	padding: 0.5em;
}


.version-info dd {
	margin: 0;
	padding: 0;
}


.api-list {
	border: solid 1px #d1d5ea;
	padding-bottom: 1em;
}

.api-list dt:first-child {
	border: none;
	margin-top: 0;
}
.api-list dt {
	border-top: solid 1px #d1d5ea;
	margin-top: 1.5em;
	padding-left: 1em;
	padding-right: 4em;
	padding-top: 0.5em;
	position: relative;
}
.api-list dd dt {
	border: none;
	margin: 0;
	padding: 0;
	position: static;
}
.api-list dd {
	padding-right: 0.5em;
}
.api-list dd dd {
	padding-right: 0;
}

.api-list dt input {
	position: absolute;
	right: 0;
	top: 0.5em;
}

.api-list .alias {
	background: #f1f1f9;
	display: block;
	font-size: 90%;
	margin-right: -4em;
	padding-left: 1em;
}

div.errors {
	border: 1px solid red;
	padding-left: 1em;
	margin-bottom: 1em;
}

input.error,
textarea.error {
	border: 1px solid red;
}

textarea#content {
	width: 100%;
	height: 20em;
}

table.contact-confirm pre {
	border-width: 0;
}

div.submit-buttons {
	margin-top: 1em;
	text-align: center;
}

div.trap {
	display: none;
}

div#topic-path {
	font-size: smaller;
	color: #5774a0;
}

div.note {
	margin-left: 30px;
	margin-right: 30px;
}

div.note h3 {
	margin: 0;
}

blockquote.header-quote {
	text-align: right;
}

ul.detail-links {
	list-style: none;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	/* width: 450px; */
	width: 250px;

	li {
		display: inline-block;
		margin: 0 10px;

		a {
			font-size: x-large;
			color: white;
			background-color: #001e4b;
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			border-radius: 5px;
		}
	}
}


/* top @age */

html.top {
	h1 {
		display: none;
	}

	h2.services {
		background: none;
		border-bottom: 1px solid;
		font-size: 1.5em;
		margin: 3em 0 0.5em;
		opacity: 0.65;
		padding: 0;
	}

	ul.services {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 0 2em;
		padding: 0;

		li {
			list-style: none;
			margin: 0 0 0 2.5%;
			padding: 0;
			max-width: 100%;
			width: 100%;

			img {
				border: none;
				max-width: 100%;
				width: 100%;
			}

			a {
				transition: opacity 0.15s ease-out;
			}

			a:hover,
			a:active {
				opacity: 0.65;
			}
		}

		li:first-child {
			margin-left: 0;
		}
	}
}


/* Ranguba */

/* cover the search form of the header */
.search_form {
	position: absolute;
	top: 22px;
	right: 25px;

	margin: 0;
	padding: 0;
	z-index: 100;

	p {
		margin: 0;
		padding: 0;

		a {
			display: none;
		}
	}
}

/* Press Release */
table.press {
    width: 100%;
    margin: 2em 0;
    border: none;
}

table.press td {
    border: none;
    vertical-align: top;
}

table.press td.date {
    min-width: 120px;
}

table.press td.media span {
    background: #999;
    padding: 2px 7px;
    color: #fff;
    font-size: 0.9em;
    font-family: monospace;
}

table.press td.media span.pdf {
    background: #d55d5d;
}

table.press td.media span.html {
    background: #4f6dc5;
}

nav.post-metadata {
	ul {
		display: block;
		margin: 0;
		margin-top: -30px;
		padding: 0;

		li {
			display: inline;
			margin: 0;
			padding: 0;
			list-style: none;

			span.date,
			span.author {
				color: gray;
				font-size: small;
			}
		}
	}
}

div.post nav.tags,
nav.blog-tags {
	p {
		display: inline;
		margin: 0;
		padding: 0;
	}

	ul {
		display: inline;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			list-style: none;
			margin-left: 0.5em;
		}
	}
}

div.post {
	h3 {
		margin: 0;
	}

	dl {
		margin-left: 15px;
	}

	blockquote {
		border: 1px solid #AAA;
		padding: 1em;
	}

	p.source {
		margin-right: 1.5em;
		text-align: right;
		font-size: smaller;
		font-style: italic;
	}

	section.footnotes {
		border-top: 1px solid #e6edf8;
	}

	div.social-widgets {
		text-align: right;
	}

	div.rabbit-slide {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}

	div.rabbit-slide a {
		text-align: center;
	}

	div.slideshare {
		width: 427px;
		margin-left: auto;
		margin-right: auto;
	}

	div.slideshare-wide {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}

	div.slideshare a {
		text-align: center;
	}

	div.youtube {
		width: 560px;
		margin-left: auto;
		margin-right: auto;
	}

	div.video-640x480 {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}

	div.video-640x480 a {
		text-align: center;
	}

	div.youtube-4x3 {
		width: 450px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	div.nicovideo-thumbnail {
		width: 312px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	nav.tags {
		text-align: right;
	}
}

nav.blog {
	margin-top: 1em;
	margin-bottom: 1em;

	ul {
		display: block;
		text-align: center;

		li {
			display: inline;
			list-style: none;

			a.prev::before {
				content: "«";
			}

			a.next::after {
				content: "»";
			}
		}
	}
}

nav.advertisings {
	ul {
		margin-left: 0px;
		padding-left: 0px;
		clear: both;

		li {
			color: grey;
			list-style-image: url(info.png);
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	div.footer   {
		margin-right: 0;
	}

	nav.advertisings {
		margin-left: 24px;
	}

	li#menu-search {
		input[type="text"] {
			max-width: 60%;
		}
	}

	nav.post-metadata ul {
		margin-top: 0;
	}
}
