---
layout: default
main_title: インターンシップ
sub_title:
---

<h2 id="abstract">インターンシップの概要</h2>

<p>クリアコードでは、フリーソフトウェア開発に携わりたい、プログラミング技術を向上させたいと考えているプログラミングが楽しい方を対象としたインターンシップを実施します。インターンシップは通年で実施し、そのカリキュラムもインターンのスケジュールを考慮して都度決定することになりましたので、働いている方でも参加しやすくなりました。</p>

<p>クリアコードのインターンシップではインターンとクリアコードの開発者がペアになってフリーソフトウェアを開発しリリースします。開発するフリーソフトウェアは別途告知する「インターンシップを通じてクリアコードがやりたいフリーソフトウェア開発のリスト」（以下、「やりたいことリスト」）の中で、応募者が興味をもったものから、相談の上決定します。</p>

<p>インターンシップでは、最初に<a href="/philosophy/development/style.html">クリアコードの開発スタイル</a>やフリーソフトウェアの開発はどうやって進めていけばよいのかを学びます。その後はインターンとクリアコードの開発者で作業を分担して開発をすすめていきます。作業スケジュールはインターンの要望に沿って決めるので、無理なく続けることができます。インターンシップの初日と最終日はクリアコード社内での作業となりますが、それ以外はクリアコード社内でも自宅などリモートでも構いません。クリアコードで作業する場合はペアプログラミング等によりクリアコードの開発者と一緒に作業します。リモートの場合でも、コミットに対して気になることがあればコメントしたり、Skypeやメールで相談したりして、コミュニケーションすることが可能です。また毎月「1ヶ月の報告会」を実施します。これはお互いのお互いの作業の進捗状況を報告しあい、成果や課題を共有して次の1ヶ月の方針を決めるものです。開発が進み、リリースまで完了すれば、最後に<a href="../blog/">ククログ</a>にインターンシップの記事を投稿してインターンシップ終了となります。</p>

<p>また、インターンシップを始めたものの、仕事が忙しくなったり、インターンシップそのものへの興味が薄れたりして、続けられない理由ができた場合は、その時点でインターンシップ終了として構いません。ただしフェードアウトして開発が引き継げない状態にするのではなく、開発が続けられなくなったことを宣言して誰かが開発を引き継げる状態にして欲しいと考えています。そうすればクリアコードの開発者や別のインターンが引き継いで開発を続けることができます。</p>

<p>選考は応募の都度実施するため、合格された方が募集人数に達した時点でインターンの募集を中止する場合があります。中止している期間はこのページにその旨を明記します。</p>

<p>皆様のご応募、お待ちしています。</p>

<h2 id="application">インターン募集要項</h2>

<table class="internship" summary="インターンシップ募集要項">
  <tbody>
    <tr>
      <th>実施期間</th>
      <td>
        <p>通年で実施します。</p>
        <p>個々のインターンシップ期間はおよそ2週間から3ヶ月を想定しており、開発するフリーソフトウェアとインターンのスケジュールを考慮して決定します。</p>
      </td>
    </tr>

    <tr>
      <th>実施場所</th>
      <td>
        <p>クリアコード（東京都豊島区3−29−9 中野ビル3階）もしくは自宅</p>
        <p>初日と最終日はクリアコードでの作業を想定しています。</p>
        <p>その他はクリアコードでも自宅でも構いません。</p>
      </td>
    </tr>

    <tr>
      <th>募集職種</th>
      <td><p>プログラマー</p></td>
    </tr>

    <tr>
      <th>募集人数</th>
      <td><p>1名</p></td>
    </tr>

    <tr>
      <th>実施時間</th>
      <td>
        <p>インターンの都合により作業時間を決定します。</p>
        <p>ただし、クリアコードで作業するときは10時から19時の間となります。</p>
      </td>
    </tr>

    <tr>
      <th>応募条件</th>
      <td>
        <ul>
          <li>プログラミングが楽しいこと</li>
          <li>フリーソフトウェアに関心があること</li>
          <li>16歳以上であること（学生、社会人、求職中など問いません）</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>カリキュラム</th>
      <td>
        <p>「やりたいことリスト」からフリーソフトウェアを選んで開発し、リリースします。一連の作業を通じてフリーソフトウェア開発をどうやってすすめるのかを学びます。</p>
        <p>またクリアコードの開発者とのペアプログラミングやコミットへのコメントを通じてプログラミングスキル向上を図ります。</p>
        <p>インターンシップ期間中は、毎月「1ヶ月の報告会」を実施してインターンの成果や課題を共有します。</p>
        <p>フリーソフトウェアをリリースしたら、インターンシップの成果をまとめて<a href="../blog/">ククログ</a>記事にし、インターンシップ終了となります。</p>

        <p>【カリキュラムの例】</p>
        <dl>
          <dt>1日目（クリアコード）</dt>
          <dd>メンバー紹介</dd>
          <dd>実施スケジュールの確認</dd>
          <dd>開発着手</dd>
          <dd>歓迎会</dd>
          <dt>2日目（クリアコード）</dt>
          <dd>ペアプログラミング</dd>
          <dd>今後の作業計画検討</dd>
          <dt>3日目以降（自宅）</dt>
          <dd>インターンの都合にあわせて作業日を設定</dd>
          <dd>クリアコードもしくはリモートで作業実施し、フリーソフトウェアをリリース</dd>
          <dd><a href="../blog/">ククログ</a>記事執筆</dd>
          <dt>最終日（クリアコード）</dt>
          <dd><a href="../blog/">ククログ</a>記事のリリース</dd>
          <dd>インターンシップの総括</dd>
          <dd>打上</dd>
        </dl>
      </td>
    </tr>

    <tr>
      <th>待遇</th>
      <td>
        <ul>
          <li>報酬なし</li>
          <li>昼食支給（クリアコード勤務時）</li>
          <li>月1回の社内食事会</li>
          <li>交通費実費支給（3万円まで）</li>
          <li>遠隔地の方には弊社にて宿泊先を手配（最大3泊まで）</li>
          <li>開発環境は各自で準備（開発環境の構築手順は別途お伝えしますので、インターンシップ初日までに各自で準備してください。）</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>応募方法</th>
      <td>
        <p>以下の事項を記載したメールをminami@clear-code.comへお送りください。</p>
        <ul>
          <li>氏名（ふりがな）</li>
          <li>メールアドレス</li>
          <li>年齢</li>
          <li>住所</li>
          <li>プログラミングが楽しいことの説明（とても重視します）</li>
          <li>インターンシップで開発したいものとその理由（やりたいことリストから1つ選んでください。）</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>選考</th>
      <td>
        <p>選考応募内容をもとに選考の上、面接にお越しいただきその場で最終決定します。応募から3日以内に書類選考の結果をお知らせします。</p>
      </td>
    </tr>

    <tr>
      <th>問い合せ先</th>
      <td>
        <p>
株式会社クリアコード<br>
インターンシップ事務局　南<br>
minami@clear-code.com
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h2 id="want-to-do">やりたいことリスト</h2>

<p>クリアコードには新しく開発したいフリーソフトウェアがあります。既存のフリーソフトウェアには、改良したいところや直したいところがあります。それらについて<a href="/blog/">ククログ</a>で紹介していきます。ククログで紹介したものは以下のリストに追加するので、このリストからインターンシップで取り組みたいことを選んでください。</p>

<ul>
  <li>
    <del datetime="2014-06-18T00:00:00+09:00"><a href="/blog/2013/3/14.html">Mac OS X版GTK+用immodule（GtkIMCocoa）</a></del>: <a href="/blog/2013/12/26.html">GTK+本体のみで日本語入力が可能になったため</a>。
  </li>
  <li>
    <a href="/blog/2013/3/6.html">Firefox for AndroidおよびFirefox用アドオン</a>:
    <ul>
      <li>Firefox for Android用アドオン「テキストリンク」</li>
      <li>Firefox for Android用アドオン「ロケーションバーから新しいタブを開く」</li>
      <li>Firefox for Android用アドオン「XUL/Migemo」</li>
      <li>Firefox用アドオン「XUL/Migemo」</li>
    </ul>
  </li>
  <li>
    <a href="/blog/2013/4/1.html">GaaS（Groonga as a Service）</a>
  </li>
  <li>
    <del datetime="2013-09-13:00:00:00+09:00"><a href="/blog/2013/4/30.html">BitClust</a></del>: <a href="https://github.com/clear-code/internship/tree/master/3">2013年9月に実施済み</a>。
  </li>
  <li>
    <a href="/blog/2014/6/17.html">Groongaの管理画面</a>
  </li>
</ul>

<h2 id="past">過去のインターンシップ</h2>

<p>メモなどは<a href="https://github.com/clear-code/internship">GitHubのclear-code/internship</a>に置いてあります。</p>

<dl>
  <dt>2013年</dt>
  <dd>
    <ul>
      <li>
        <a href="/blog/2013/8/5.html">インターンシップで学んだこと1：コメントを書きたくなるときはコードを見直す機会</a>
      </li>
      <li>
        <a href="/blog/2013/8/13.html">インターンシップで学んだこと2：1人で開発しているときはていねいに開発を進める</a>
      </li>
      <li>
        <a href="/blog/2013/8/27.html">インターンシップで学んだこと3：テストを整理する方法</a>
      </li>
      <li>
        <a href="/blog/2013/9/5.html">インターンシップで学んだこと4：何をテストするか</a>
      </li>
      <li>
        <a href="/blog/2013/9/26.html">インターンの作業を進めやすくするための工夫</a>
      </li>
    </ul>
  </dd>

  <dt>2009年</dt>
  <dd>
    <p><a href="2009/">2009年に行ったインターンシップの募集ページ</a></p>
  </dd>
</dl>
