---
layout: default
main_title: milter manager
sub_title: milterを使った効果的な迷惑メール対策
---

<p>
<img src="milter-manager-flexible-low-cost-anti-spam-software.png" alt="迷惑メール対策を柔軟に低コストで実現" title="milter manager" class="eye-catcher">
現在、milterと呼ばれる迷惑メール対策が多く開発されており、フリーソフトウェアとして公開されているものも数多くあります。
</p>
<p>
迷惑メール対策には、様々な特徴を持ったmilterを組み合わせて、効率的に適用させることが有用です。しかし複数のmilterを利用する場合、設定や管理コストの増大が問題となります。
</p>
<p>
milter managerは迷惑メール対策の適用条件を柔軟に設定し、さらにmilterの管理コストを低減することを目的として開発されているフリーソフトウェアです。
</p>

<p>
	<img src="milter-manager-system.png" alt="milter managerシステム構成図" class="eye-catcher">
	<ul>
		<li><a href="#features">milter managerの特徴</a></li>
		<li><a href="#license">ライセンス</a></li>
		<li><a href="#support">有償サポート・技術支援</a></li>
		<li><a href="#project">プロジェクトページ</a></li>
	</ul>
</p>

<h2 id="features">milter managerの特徴</h2>

<ul>
	<li><a href="#flexible">柔軟なmilter適用</a></li>
	<li><a href="#auto-detection">milterの自動検出</a></li>
	<li><a href="#web-ui">Webベースの設定UI</a></li>
	<li><a href="#log">ログの視覚化</a></li>
	<li><a href="#mta">Sendmail、Postfixに対応</a></li>
</ul>

<h3 id="flexible">柔軟なmilter適用</h3>
<p>
通常、複数のmilterを利用する場合には、登録されたmilterがすべてのメールに対して適用されます。しかしmilter managerは、特定の条件に該当したメールに対してのみmilterを適用することができます。またmilterを適用する条件は、内蔵しているRubyインタプリタで判断するため、組織ごとのポリシーを反映したより柔軟な迷惑メール対策が可能となります。
</p>
<p>
	<img src="milter-manager-before-and-after.png" alt="milter managerによって柔軟に適用されるようになったmilterの動作図" class="figure">
</p>

<h3 id="auto-detection">milterの自動検出</h3>

<p>
milterはそれぞれ独立にメールシステムに組み込むことができるため、milterを組み合わせることにより、組織ごとのポリシーを反映した迷惑メール対策を実現することができます。しかし、複数のmilterを組み合わせると、それぞれのmilterを組み込むための設定が面倒になるという問題があります。
</p>

<p>
milter managerはシステムにインストールされているmilterを自動検出するため、個々のmilterを登録する必要はありません。これにより、milterを組み込む手間が軽減され、milterを組み合わせる煩わしさなしにmilterを組み合わる利点を得られます。
</p>

<p>
また、登録されているmilterを必要なときに自動的に起動するため、複数のmilterを利用する際に面倒なmilterの死活管理の手間を軽減します。
</p>

<h3 id="web-ui">Webベースの設定UI</h3>

<p>各milterの適用条件の設定はWebブラウザから簡単に行うことができます。変更された適用条件は即座に反映されます。</p>
<p>
	<img src="milter-manager-web-page-interface.png" alt="milter managerの設定インターフェース" class="figure">
</p>

<h3 id="log">ログの視覚化</h3>

<p>
迷惑メールは次々に新たな手法でやってきます。効率的に迷惑メール対策を行うには、その傾向を分析し、新たな対応策を検討することが重要です。 milter managerは、管理下のmilterの適用状況や適用結果をグラフ化する機能を持つため、データ活用が容易となっています。
</p>
<p>
	<img src="milter-manager-graph.png" alt="ログを視覚化したグラフ" class="figure">
</p>

<h3 id="mta">Sendmail、Postfixに対応</h3>

<p>
milter managerはSendmail、Postfixに対応しているため、多くの環境で利用できます。
</p>

<h2 id="license">ライセンス</h2>

<p>
milter managerはフリーソフトウェアです。あなたは、 Free Software Foundationが公表したGNU Lesser General Public License 3またはそれ以降のバージョンが定める条項に従って本プログラムを再頒布または変更することができます。
</p>

<p>
milter managerは有用とは思いますが、頒布にあたっては、市場性及び特定目的適合性についての暗黙の保証を含めて、いかなる保証も行ないません。詳細については GNU Lesser General Public License 3をお読みください。
</p>

<h2 id="support">有償サポート・技術支援</h2>

<p>
クリアコードでは有償サポートなどmilter managerに関連して様々なサービスを展開しています。
</p>

<p><a href="../services/milter-manager/milter-manager.pdf">製品紹介（PDF 1.12MB）<img src="../services/milter-manager/milter-manager.pdf.jpg" alt=""></a></p>

<ul>
	<li><a href="../services/milter-manager.html">milter managerサービスメニュー一覧</a></li>
</ul>

<h2 id="project">プロジェクトサイト</h2>

<p>
milter managerはSourceForge上で開発が行われています。インストール方法・リファレンスマニュアル・ダウンロードなどの情報はSourceForge上のmilter managerプロジェクトサイトを参照してください。
</p>
<ul>
	<li><a href="http://milter-manager.sourceforge.net/index.html.ja" title="milter managerプロジェクトサイト">milter managerプロジェクトサイトへ</a></li>
</ul>
