<div class="menu">
  <ul>
    <li id="menu-services"       class="menu-item"><a href="/services/" title="サービス">サービス</a></li>
    <li id="menu-philosophy"     class="menu-item"><a href="/philosophy/" title="理念">理念</a></li>
    <li id="menu-recruitment"    class="menu-item"><a href="/recruitment/" title="採用情報">採用情報</a></li>
    <li id="menu-internship"     class="menu-item"><a href="/internship/" title="インターンシップ">インターンシップ</a></li>
    <li id="menu-about"          class="menu-item"><a href="/about/" title="会社情報">会社情報 About Us</a></li>
    <li id="menu-press-releases" class="menu-item"><a href="/press-releases/" title="プレスリリース">プレスリリース</a></li>
    <li id="menu-contact"        class="menu-item"><a href="/contact/" title="お問い合わせ">お問い合わせ Contact</a></li>
    <li id="menu-blog"           class="menu-item"><a href="/blog/" title="ブログ">ブログ</a></li>
    <li id="menu-search"         class="menu-item">
      <form action="/ranguba/search/" method="get">
        <input type="text" name="query" placeholder="サイト内検索 by Ranguba">
        <input type="submit" value="検索">
      </form>
    </li>
  </ul>
</div>
