---
layout: default
main_title: インターンシップ
sub_title:
---

<p><em>2009年のインターンシップ参加希望者の募集は締切ました。次回にご期待ください。</em></p>

<h2>インターンシップ制度の趣旨</h2>

<div class="date">2008年12月25日</div>

<p>クリアコードはソフトウェア開発を行っている会社です。クリアコードのエンジニアは長い間フリーソフトウェアの開発に関わってきました。その経験からフリーソフトウェアの開発はプログラミングスキルの上達に多大な効果があると実感しています。クリアコードの業務ではフリーソフトウェアを利用する機会も多く、フリーソフトウェア開発の経験が、プログラミングスキルの上達だけではなく、フリーソフトウェアを利用するときのノウハウなどでも有効に活用されています。</p>
<p>クリアコードのインターンシップでは、フリーソフトウェアの開発を通じて、業務でも有用なプログラミングスキルの上達、複数人での開発を体験してもらいます。クリアコードにはFirefox, Thunderbird, Ruby, Subversion, GNOMEなどの有名なプロジェクトに関わっているエンジニアがいます。2週間という短い期間の中でできるだけ多くクリアコードのエンジニアから学べるよう、ペアプログラミングで開発を行います。これはクリアコードのエンジニアも参加者から多くの事を学びたいという意志の表れでもあります。</p>
<p>学習効果はその分野への興味があるかどうかにより大きく変わるものです。この体験で参加者のプログラミングへの興味が大きくなれば、これまでよりもプログラミングスキルの上達が促進されるでしょう。プログラミングへの興味が大きくなり、よりプログラミングスキルの上達を目指すのであれば、インターンシップ終了後も開発を継続することができます。インターンシップ終了後もインターンシップの経験を活かして自身の向上を継続できるため、フリーソフトウェアという題材はインターンシップにもとても適したものであると信じています。</p>
<p>また、これからフリーソフトウェアの利用は広がっていき、業務で利用する機会も増えると予想されます。インターンシップの成果が業務で活用できる可能性も十分ありえます。開発対象のソフトウェアはフリーソフトウェアなので、インターンシップ中に開発した成果をインターンシップ終了後も自由に活用することができます。</p>
<p>この体験により、参加者のプログラミングスキルを活かした職業に対する考えが今までよりも明確になることを期待します。</p>

<div class="signature">
<p class="person">
株式会社クリアコード<br>
代表取締役　須藤　功平
</p>
</div>


<h2>インターンシップ募集要項</h2>

<table class="internship" summary="インターンシップ募集要項">
<tbody>

<tr>
<th>実施期間</th>
<td>
<p>2009年8月から9月の間の連続する2週間<p>
<p>詳細は、本人の実施希望日を考慮した上で決定いたします。</p>
</td>
</tr>

<tr>
<th>実施場所</th>
<td>
<p>本社（東京都文京区本郷1-25-4　ベルスクエア本郷5階）</p>
</td>
</tr>

<tr>
<th>募集人数</th>
<td><p>1名</p></td>
</tr>

<tr>
<th>実施時間</th>
<td>
<p>9時から17時（休憩1時間）</p>
</td>
</tr>

<tr>
<th>応募条件</th>
<td>
<ul>
<li>プログラミングが好きなこと</li>
<li>現在、大学院、大学、専門学校、高等学校に在学中の学生（学部は問いません）であること</li>
<li>約2週間連続して勤務できること</li>
</ul>
</td>
</tr>

<tr>
<th>カリキュラム</th>
<td>
<ul>
<li>本人のスキル、要望にあわせて内容を設定します。詳細はインターンシップ3日目に話し合いをして決定します。</li>
<li>最終日には報告会を実施します。</li>
</ul>
</td>
</tr>

<tr>
<th>待遇</th>
<td>
<ul>
<li>昼食支給</li>
<li>交通費全額支給（但し遠隔地の方については宿泊先から当社までの交通費とします。）</li>
<li>遠隔地の方には弊社にて宿泊場所を用意致します。</li>
</ul>
</td>
</tr>

<tr>
<th>応募方法</th>
<td>
<ol>
<li>「インターンシップ応募申込書」をダウンロード
<ul>
<li><a href="internship_entry.ods">internship_entry.ods</a></li>
<li><a href="internship_entry.xls">internship_entry.xls</a></li>
</ul>
</li>
<li>「インターンシップ応募申込書」に必要事項を入力</li>
<li>「インターンシップ応募申込書」を添付し、Emailにて提出</li>
</ol>
<p>提出先Email: minami@clear-code.com</p>
</td>
</tr>

<tr>
<th>応募締め切り</th>
<td><p>2009年6月30日</p></td>
</tr>

<tr>
<th>参加者の決定方法</th>
<td>
<p>応募内容をもとに選考の上、面接にお越しいただき最終決定いたします。</p>
</td>
</tr>

<tr>
<th>問合せ先</th>
<td>
<p>
株式会社クリアコード<br>
インターンシップ事務局　南<br>
minami@clear-code.com
</p>
</td>
</tr>

</tbody>
</table>


<h2>カリキュラム一例</h2>

<table class="curriculum" summary="カリキュラム一例">
<tbody>

<tr><th></th><th colspan="2">午前</th><th colspan="2">午後</th></tr>

<tr>
<th>1日目</th>
<td>ガイダンス</td><td>受入手続</td>
<td>開発環境準備</td><td>歓迎会</td>
</tr>

<tr>
<th>2日目</th>
<td>エンジニア紹介（1）</td><td>エンジニア紹介（2）</td>
<td>エンジニア紹介（3）</td><td>その他業務紹介</td>
</tr>

<tr>
<th>3日目</th>
<td>エンジニア紹介（4）</td><td>カリキュラム検討会</td>
<td colspan="2">ソフトウェア開発</td>
</tr>

<tr>
<th>4日目</th>
<td colspan="3">ソフトウェア開発</td>
<td>経営会議出席</td>
</tr>

<tr>
<th>5日目</th>
<td colspan="4">ソフトウェア開発</td>
</tr>

<tr>
<th>6日目</th>
<td colspan="4">ソフトウェア開発</td>
</tr>

<tr>
<th>7日目</th>
<td colspan="4">ソフトウェア開発</td>
</tr>

<tr>
<th>8日目</th>
<td colspan="4">ソフトウェア開発</td>
</tr>

<tr>
<th>9日目</th>
<td colspan="2">ソフトウェア開発</td>
<td>報告会準備</td><td>経営会議出席</td>
</tr>

<tr>
<th>10日目</th>
<td>報告会準備</td><td>報告会</td>
<td>終了手続</td><td>打上</td>
</tr>

</tbody>
</table>


<h2>会社説明資料</h2>
<p><a href="/about/company.pdf">会社紹介パンフレット（PDF）</a></p>
