---
layout: default
main_title: 「クリアコードをいい感じにする人」の採用情報
---

	<h2>「クリアコードをいい感じにする人」</h2>

	<p>「クリアコードをいい感じにする人」をどういう職種と呼べばよいかわかっていないので期待することそのものを職種としています。<a href="/blog/2012/6/28.html">よい名前をつけることが大事</a>と考えてはいるのでもっとスパッとした職種名を付けたいところですが、なかなか難しく、「クリアコードをいい感じにする人」のまま公開しています。後述しますが、クリアコードはカンペキになる前でも公開してフィードバックを得ながら徐々によくするやり方をよく使います。これも後述しますが、「クリアコードをいい感じにする人」の業務も同じように試行錯誤しながら徐々によくするやり方になるでしょう。</p>

	<p>クリアコードが大事にしていることは以下の2つの両立です。これを「今よりももっといい感じ」に実現する私たちでいるための専属の役割の人が「クリアコードをいい感じにする人」です。</p>
	<ul>
		<li>お金を稼ぐこと</li>
		<li>フリーソフトウェアを推進すること</li>
	</ul>

	<p>現在はクリアコードメンバーの数人が業務の合間の時間で「今よりももっといい感じ」に実現するための取り組みを推進しています。しかし、合間の時間でやっているので、業務が忙しくなると取り組めなくなってしまいます。</p>

	<p>私たちは「今よりももっといい感じ」にし続けていくことが大事だと考えています。一時的にやればよいというものではなく、継続的に取り組み続けていかなければいけないということです。そのため、「今よりももっといい感じ」にすることをメインの業務とする人が必要だと考えるようになりました。メインの業務なら忙しくて取り組めない、ということにはならずに継続的に取り組めるからです。</p>

	<h2>期待すること</h2>

	<p>私たちはまだ「クリアコードをいい感じにする人」にはどのような人が適切かわかっていません。そのため、応募資格はこうです、や、こんなスキルセットが必要です、と提示することができません。推測ですが、「答えがない問題を解決する」ことが得意な人は向いているかもしれません。</p>

	<p>「クリアコードをいい感じにする」やり方にはあらかじめ決まった「答え」はありません。私たちは、一緒に、どうやって実現するかを考えて試して学習して、そしてまた考えてを繰り返していく必要があるでしょう。クリアコードが推進しているフリーソフトウェアの開発では、リリースしてユーザーからのフィードバックを得てまたリリースして改良していくというやり方をすることが多いのですが、そのような進め方と似ています。</p>

	<p>クリアコードはソフトウェア開発の会社で、メンバーのほとんどはソフトウェア開発者です。一緒に活動する人の多くがソフトウェア開発者なら「クリアコードをいい感じにする人」もソフトウェア開発の経験があった方がよい…かどうかもわかっていません。経験があるかないかは重要ではない（経験がなくても大丈夫じゃないか？）と予想してはいます。</p>

	<p>クリアコードはフリーソフトウェアを推進することを大事にしています。おいおいは「フリーソフトウェア」とはなにかの理解は必要ですが、それは入社後で問題ありません。以前は「入社時点で理解が必要」という方針でしたが、入社時点では理解していなくても、入社後に理解して推進している前例（ソフトウェア開発者です）ができたので、現在は入社後で問題ないという方針になりました。</p>

	<h2>現時点で想定している仕事の進め方</h2>

	<p>現時点で想定している仕事の進め方は次の通りです。</p>
	<ol>
		<li>他のメンバー（現時点では代表取締役を想定）と一緒に次はなにを目指すかを考える</li>
		<li>他のメンバー（現時点では代表取締役を想定）と一緒にどうやって実現するかを考える</li>
		<li>考えた実現方法を中心になって実施する</li>
		<li>実施結果を考察する</li>
		<li>実施結果を踏まえて、他のメンバー（現時点では代表取締役を想定）と一緒に次はなにを目指すかを考える</li>
		<li>…くりかえす…</li>
	</ol>

	<p>これは現時点で想定している進め方であって、必ずしもこの進め方をしなければいけないというわけではありません。たたき台として提示しているだけです。「クリアコードをいい感じにする」やり方に答えがないように進め方にも答えはありません。私たちにはどのような進め方がよいのか一緒に試行錯誤していきましょう。</p>

	<h2>評価基準</h2>

	<p>「クリアコードをいい感じにする人」の評価基準は、クリアコードが大事にしている以下の2つの両立をクリアコード全体がどれだけ実現できているか、です。</p>
	<ul>
		<li>お金を稼ぐこと</li>
		<li>フリーソフトウェアを推進すること</li>
	</ul>
	<p>両立なので、お金は稼げたけど、フリーソフトウェアは推進できなかった、では評価はあがりません。逆の、フリーソフトウェアは推進できたけど、お金は稼げなかったも同様です。</p>

	<p>だれが「両立できているか」ですが、「クリアコードをいい感じにする人」が「両立できているか」ではなく、クリアコード全体が「両立できているか」です。全体としてよく両立できたら「クリアコードをいい感じにする人」の評価があがります。</p>

	<h2>待遇</h2>

	<p>給与水準はソフトウェア開発者と同等です。参考情報として2017年8月時点のソフトウェア開発者の給与水準を示します。平均月給は約48万円で中央値は約42万円です。年収はこれの12ヶ月分です。稼いだ年は追加でボーナスを支給します。</p>

	<p>○○部長やC○Oのような役職は特に考えていません。ソフトウェア開発者がソフトウェアを開発する役割の人であるように、「クリアコードをいい感じにする人」は「クリアコードをいい感じにする」役割の人なだけです。他のクリアコードメンバーより偉いとか偉くないとかそういう上下関係は考えていません。なにかをするために権限が必要であれば、既存の偉い人（代表取締役とか）が積極的に協力して実現します。</p>

	<p>正社員として雇用します。「クリアコードをいい感じにする人」がどのような活動内容になってどのくらい時間が必要なのかわかっていません。もしかしたら、時短勤務でも大丈夫かもしれません。子育てなどの理由で時短勤務を希望する場合は応募時に相談してください。なお、2017年8月時点では、代表取締役は子育てのために毎週金曜日以外はテレワークで業務しています。</p>

	<h2 id="selection-process">選考プロセス</h3>

	<p>選考プロセスは明確には決まっていません。まず一度お話しましょう。話をする中でお互いに一緒にやっていけそうか確認しましょう。</p>

	<h2>募集要項</h2>
	<dl>
		<dt>募集人数</dt>
			<dd>1名</dd>
		<dt>職種</dt>
			<dd>「クリアコードをいい感じにする人」（正社員）</dd>
		<dt>応募資格</dt>
			<dd>特になし</dd>
		<dt>待遇</dt>
			<dd>経験・能力などを考慮し優遇</dd>
		<dt>勤務地</dt>
			<dd>埼玉県所沢市 <br> 2020年4月現在完全在宅勤務を実施しています。</dd>
		<dt>福利厚生</dt>
			<dd>
				<ul>
					<li>各種社会保険完備</li>
					<li>退職金制度</li>
					<li>社宅制度</li>
					<li>従業員持株制度</li>
					<li>社内食事会（毎月肉の日）</li>
					<li>社員旅行</li>
				</ul>
			</dd>
	</dl>

	<h2>応募方法</h2>
	<p>まずは会社説明会をお申し込みください。</p>
	<p>申込みにあたっては以下のような内容のメールを須藤（kou@clear-code.com）に送信してください。</p>
	<pre>To: kou@clear-code.com
Subject: 会社説明会参加希望

名前: ○○××
職種：「クリアコードをいい感じにする人」
備考: （希望日時などがあれば）</pre>
