---
layout: default
main_title: 第三者割当増資実施のお知らせ
sub_title:
type: press
---

<div class="press-release-signature">
  <p class="date">2010年10月29日</p>
</div>

<p>
株式会社クリアコード（本社：東京都文京区、代表取締役：須藤功平）は、コスモエア株式会社（本社：東京都大田区、代表取締役：村上武人）、有限会社未来検索ブラジル（本社：東京都渋谷区、代表取締役：深水英一郎）、ミラクル・リナックス株式会社（本社：東京都港区、代表取締役社長：児玉崇）の3社を引き受け先とした第三者割当増資を8月31日付けで実施しましたのでお知らせ致します。
</p>

<h2>第三者割当増資の概要</h2>
<dl>
	<dt>発行価格の総額</dt>
		<dd>1,200,000円</dd>
	<dt>資本組入の総額</dt>
		<dd>1,200,000円</dd>
	<dt>割当先（五十音順）</dt>
		<dd>
			<ul>
				<li>コスモエア株式会社</li>
				<li>有限会社未来検索ブラジル</li>
				<li>ミラクル・リナックス株式会社</li>
			</ul>
		</dd>
	</li>
</dl>
　　
<h2>第三者割当増資の目的</h2>
<p>
クリアコードは2006年の設立以来、様々なオープンソースの開発、カスタマイズ、サポートをサービスとして提供してきました。<br>
今回の資本提携によってクリアコードが有するオープンソースの開発力を柱として、各社との連携を強め、さらなる事業展開を積極的に実施していくことを目的としています。
</p>

<p>
コスモエア社に対しては、クリアコードが開発する迷惑メール対策システム「milter manager」及び関連ツールを、コスモエア社が展開するメールシステムプラットフォーム「PostBlade」、「PostCloud」向けに提供を開始する予定です。
</p>

<p>
未来検索ブラジル社とは、未来検索ブラジル社が開発する検索エンジン「Groonga」の開発および「Groonga」を使ったシステム開発における協業体制を強化します。
</p>
<div class="note">
	<h3>Groongaとは</h3>
	<p>
		Groongaは、広く使われている全文検索ライブラリSennaの後継ライブラリです。Groongaは、Sennaの持つ「高速な検索」「高精度な検索」「柔軟度の高い検索」という特徴を引き継ぎつつ、さらにそれらを追求しています。Groongaは、オープンソースとして広く公開されています。<br>
		<a href="http://groonga.org/">http://groonga.org/</a>
	</p>
</div>

<p>
ミラクル・リナックス社とは、ミラクル・リナックス社がオープンソースを活用し提供するソフトウェア製品やサービスの企画段階からの参画を図り、クリアコードが有するオープンソースに関するノウハウおよび開発力を提供します。
</p>

<p>
今回の資本提携を機に、クリアコード、コスモエア、未来検索ブラジル、ミラクル・リナックスの4社で定期的な会合を実施し、オープンソースに関わる4社の強みを活かした協業体制の強化を図る計画です。
</p>

<h2>株式会社クリアコード　会社概要</h2>
<dl>
	<dt>設立</dt>
		<dd>2006年7月25日</dd>
	<dt>本社所在地</dt>
		<dd>東京都文京区本郷一丁目２５番４号　ベルスクエア本郷５階</dd>
	<dt>代表者</dt>
		<dd>代表取締役　須藤功平</dd>
	<dt>URL</dt>
		<dd><a href="https://www.clear-code.com/">https://www.clear-code.com/</a></dd>
</dl>

<h2>コスモエア株式会社　会社概要</h2>
<dl>
	<dt>設立</dt>
		<dd>2002年10月22日</dd>
	<dt>本社所在地</dt>
		<dd>東京都大田区鵜の木二丁目２番８号　鵜の木ビル２階</dd>
	<dt>代表者</dt>
		<dd>代表取締役　村上武人</dd>
	<dt>URL</dt>
		<dd><a href="http://www.cosmoair.co.jp/">http://www.cosmoair.co.jp/</a></dd>
</dl>

<h2>有限会社未来検索ブラジル　会社概要</h2>
<dl>
	<dt>設立</dt>
		<dd>2003年4月10日</dd>
	<dt>本社所在地</dt>
		<dd>東京都渋谷区代々木二丁目１６番１号　宮坂甲斐路ビル</dd>
	<dt>代表者</dt>
		<dd>代表取締役　深水英一郎</dd>
	<dt>URL</dt>
		<dd><a href="http://razil.jp/">http://razil.jp/</a></dd>
</dl>

<h2>ミラクル・リナックス株式会社　会社概要</h2>
<dl>
	<dt>設立</dt>
		<dd>2000年6月1日</dd>
	<dt>本社所在地</dt>
		<dd>東京都港区芝三丁目２４番７号　芝エクセージビルディング５階</dd>
	<dt>代表者</dt>
		<dd>代表取締役社長　児玉崇</dd>
	<dt>URL</dt>
		<dd><a href="http://www.miraclelinux.com/">http://www.miraclelinux.com/</a></dd>
</dl>

<h2>各社からのエンドースメント</h2>
<h3>コスモエア株式会社からのエンドースメント</h3>
<p>
クリアコード様は、オープンソース、ネットワークソフトウェア開発において、高い技術力、ノウハウを有し、当社の展開するネットワークセキュリティ／メールセキュリティビジネスにおいて、技術協力、コンポーネントの提供をいただいています。　開発するコンポーネントの精度と品質、そして開発の速さから、当社にとっては欠かすことのできない重要なパートナーです。今後も継続して、クリアコード様の協力のもと、当社クライアントのニーズにお応えできる付加価値の高いシステムを提供できると確信しております。
</p>

<h3>有限会社未来検索ブラジルからのエンドースメント</h3>
<p>
本格的な全文検索エンジンをオープンソースで実現したいという夢に向かって進んでいく上で不可欠なパートナーとなっていただいているクリアコード様に、今回出資させていただけることになり、本当に光栄に感じております。
</p>

<h3>ミラクル・リナックス株式会社からのエンドースメント</h3>
<p>
クリアコード様とは、2007年よりLinuxを中心とするオープンソース分野における技術協業を行っており、今回出資を行うことにより、両社における技術協業関係を強化し、デジタルサイネージ製品を含め、オープンソースをベースとした製品開発における企画段階からの事業提携を強化してまいります。
</p>

<h2>本件に関するお問い合わせ</h2>
<dl>
	<dt>担当者</dt>
		<dd>南　慎一郎</dd>
	<dt>TEL</dt>
		<dd>03-6231-7270</dd>
	<dt>Email</dt>
		<dd>minami@clear-code.com</dd>
</dl>
