---
layout: default
main_title: SciPy Japan 2020 に当社代表 須藤功平が登壇
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
10/30 15:00 Apache Arrow 1.0 - A cross-language development platform for in-memory data

<div class="press-release-signature">
  <p class="date">2020年10月22日</p>
  <p>株式会社クリアコード
</div>

<p>
Apache Arrowコンサルティングサポートを提供する株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、SciPy Japan 2020にて当社代表 須藤 功平が、2020年10月30日15:00より「Apache Arrow 1.0 - A cross-language development platform for in-memory data」というテーマで講演することをお知らせします。

<p>
<em>【Apache Arrowのご紹介】</em>
<a href='/services/apache-arrow.html'>https://www.clear-code.com/services/apache-arrow.html</a>

<h2 id='overview'>SciPy Japan 2020の概要</h2>

<p>
SciPy Japan 2020はオンラインカンファレンスで 、日本で成長しているScientific Pythonコミュニティを結集させ、最新のプロジェクトを紹介し、参加者が熟練したユーザーや開発者から学ぶことを目的としています。

<table>
<tr><th>開始日時</th><td>2020年10月30日 9:00</td></tr>
<tr><th>終了日時</th><td>2020年10月31日 18:00</td></tr>
<tr><th>会場</th><td>オンライン</td></tr>
<tr><th>参加料</th><td>一般5000円、学生2500円</td></tr>
<tr><th>【SciPy Japan 2020公式サイト】</th><td><a href='https://www.scipyjapan.scipy.org/'>https://www.scipyjapan.scipy.org/</a></td></tr>
</table>

<h2 id='talk'>講演の概要</h2>

<table>
<tr><th>講演日時</th><td>2020年10月30日 15:00-15:30</td></tr>
<tr><th>タイトル</th><td>Apache Arrow 1.0 - A cross-language development platform for in-memory data</td>
</table>

<p>
2020年7月24日にApache Arrow1.0がリリースされました。本公演ではApache Arrowの主要開発者の1人である当社代表須藤　功平がApache Arrowの特徴や活用方法をご紹介します。Apache Arrowについて詳しくない方に、どのようにApache Arrowを活用できるのか知っていただく機会となることを期待しています。

<p>
講演はオンラインで行うことから、講演の動画は録画済みで、資料とともに当社ブログにて公開しています。

<p>
<a href='/blog/2020/9/24.html'>https://www.clear-code.com/blog/2020/9/24.html</a>

<p>
オンラインカンファレンスに参加できない方、事前に内容を確認したい方はぜひこちらをご覧ください。

<p>
なお公演当日は質疑応答の時間もありますので、Apache Arrowについて直接須藤に聞きたいことがあるという方は、是非オンラインカンファレンスにご参加ください。

<h2 id='about-arrow'>Apache Arrowとは</h2>

<p>
大容量のストレージ・大量のコンピューターリソースを活用することが可能になった現在では、従来は現実的でなかった大量データを処理できるようになりました。現代のデータ処理システムは複数のデータ処理モジュールを連携して構築されており、データ量の多い環境においては各モジュール間でデータ交換を効率化が必須です。この効率的なデータ交換のために設計されたデータフォーマットが「Apache Arrow」です。たとえば、従来はCSVやJSONを使っていたところをApache Arrowを使うようにすればデータ交換処理に必要なコンピューターリソースは非常に小さくなり、本来のデータ処理にコンピューターリソースを投入できます。

<p>
また、Apache Arrowフォーマットによる高速化はApache Arrowが提供する機能の1つにすぎません。Apache Arrowはメモリー上でデータ処理するために必要な一連の機能を提供します。Apache Arrowフォーマットによるデータ交換の高速化以外にも次のような機能があります。

<ul>
<li>CPU上でSIMD・JITコンパイルを使って高速にデータを処理する機能
<li>GPU上で高速にデータを処理する機能
<li>CSVやApache Parquetなど既存のデータフォーマットと相互変換する機能
<li>高速なRPC機能
</ul>

<p>
従来はこのような機能は各データ処理プロダクトで個別に実装されていましたが、Apache Arrowは各データ処理プロダクトで共有できる高速な実装を提供します。

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。

<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<p>
Apache Arrow、全文検索エンジンGroonga、Fluentdをはじめとしたフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<em>【Apache Arrowプロジェクト】</em>
<a href='https://arrow.apache.org/'>https://arrow.apache.org/</a><br>
<em>【コーポレートサイト】</em>
<a href='/'>https://www.clear-code.com/</a><br>
<em>【本プレスリリース】</em>
<a href='/press-releases/20201022-scipy.html'>https://www.clear-code.com/press-releases/20201022-scipy.html</a>

<p>
<small>
Apache Arrow, the Apache Arrow project logo are either registered trademarks or trademarks of The Apache Software Foundation in the United States and other countries.（Apache Arrowの商標およびロゴはApache Software Foundationの商標です。）
</small>
