---
layout: default
main_title: Thunderbird 78とRedmineを連携するアドオンをリリース
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
メールからのチケット作成・チケット更新を容易に！

<div class="press-release-signature">
  <p class="date">2021年1月13日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、Thunderbird 78で受信したメールを起点にして、件名や本文の内容を使用してRedmineのチケットを作成および更新する機能を提供するThunderbird用アドオンであるRedThunderMineBird Plusをリリースしました。

<p>
<b>【RedThunderMineBird Plus】</b>
<a href='https://addons.thunderbird.net/ja/thunderbird/addon/redthunderminebird-plus/'>https://addons.thunderbird.net/ja/thunderbird/addon/redthunderminebird-plus/</a>

<h2 id='overview'>RedThunderMineBird Plusとは</h2>

<p>
RedThunderMineBird Plusは、Thunderbirdで送受信したメールに対して、右クリックメニューからRedmineのチケットを作成または更新する機能を提供するアドオンです。メールで受け付けた問い合わせを元にRedmineのチケットを起票する運用や、業務上でやり取りしたメールの文面をエビデンスとしてRedmineチケットに転記する運用を取っている場合に、作業の負担が軽減されるため、業務効率の向上が期待できます。

<p>
<img src='{% link /press-releases/20210113-redmine/redmine.png %}'>

<p>
また、本アドオンは高いカスタマイズ性を備えており、Thunderbirdの設定集中管理機能と組み合わせることで、組織ごとの状況に合わせて運用されているRedmineとの緊密な連携が可能です。

<p>
RedThunderMineBird Plusは、Thunderbird用のアドオン開発の新しいAPIセットであるWebExtensions APIのみに基づいて開発されており、Thunderbird 78以降のバージョンで安定して使用できます。

<p>
本アドオンは、Thunderbird 78では動作しない従来型アドオン「Redmine連携」をRedmineと組み合わせて運用されているお客さまからのご依頼で開発しました。

<h2 id='thunderbird'>Mozilla Thunderbirdとは</h2>

<p>
Thunderbirdは、端末上にインストールして使用するオープンソースのEメールクライアントアプリケーションです。動作のカスタマイズ性が高く、アドオンと呼ばれる機能拡張用のツールを組み合わせることにより、送信前の宛先の再確認など、業務上で必要とされる要件に柔軟に対応させることができます。

<p>
<b>【Mozilla Thunderbird】</b>
<a href='https://www.thunderbird.net/ja/'>https://www.thunderbird.net/ja/</a>

<h2 id='redmine'>Redmineとは</h2>

<p>
Redmineは、Webサービスとして動作する、課題管理システムを含むオープンソースのプロジェクト管理ツールです。業務上で発生する各種のタスクについて、チケットを起票して個別に担当者や作業の内容、進捗状況等を管理することができます。動作のカスタマイズ性が高く、設定やプラグインの組み合わせによって、さまざまな規模や業種の組織で業務効率の向上に利用できます。

<p>
<b>【Redmine】</b>
<a href='https://www.redmine.org/'>https://www.redmine.org/</a>

<h2 id='relation'>Redmineとクリアコードの関係</h2>

<p>
クリアコードでは全社共通のプロジェクト管理ツールとしてRedmineを10年以上にわたり活用しています。

<p>
利用においてRedmine本体の不具合等が見つけた場合は、Redmine開発プロジェクトにフィードバックし、場合によってはパッチの提供も行っています。

<p>
また、クリアコードが開発する全文検索エンジンGroongaを利用し、Redmineの検索機能をより高度にする、Redmine全文検索プラグインを開発、公開しています。

<p>
<b>【Redmine全文検索プラグイン】</b>
<a href='https://github.com/clear-code/redmine_full_text_search'>https://github.com/clear-code/redmine_full_text_search</a>

<h2 id='redmine-full-text-search'>Redmine全文検索プラグインとは</h2>

<p>
Redmine全文検索プラグインは、Redmineプロジェクトのチケット・添付ファイル・Wikiなどあらゆる情報を対象に、任意のキーワードで全文検索を行う、オープンソースのRedmine用プラグインです。

<p>
高い検索性能が特長で、株式会社島津製作所様（以下、島津製作所様）の運用環境においては、データベース全体で1000億文字を超える規模のRedmine環境でも、通常利用で1秒未満で検索結果を得られています。Redmine全文検索プラグインを運用環境に導入するための機能拡張は、島津製作所様と共同で開発しました。

<p>
<b>【Redmine全文検索プラグインの紹介スライド】</b>
<a href='https://speakerdeck.com/akahane92/redminequan-wen-jian-suo-sisutemufalseshi-ji'>https://speakerdeck.com/akahane92/redminequan-wen-jian-suo-sisutemufalseshi-ji</a>

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。クリアコードでは創業以来Mozilla Firefox / Thunderbirdの導入支援やサポートを行っており、これまでに100社以上のお客様にご利用いただいております。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：04-2907-4726<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='{{ "/" | relative_url }}'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='{{ "/press-releases/20210113-redmine.html" | relative_url }}'>https://www.clear-code.com/press-releases/20210113-redmine.html</a><br>
<b>【関連サービス】</b>
<ul>
<li><b>【Firefox/Thunderbirdサポート】</b>
    <a href='{{ "/services/mozilla/menu.html" | relative_url }}'>https://www.clear-code.com/services/mozilla/menu.html</a>
<li><b>【Groongaサポート】</b>
    <a href='{{ "/services/groonga.html" | relative_url }}'>https://www.clear-code.com/services/mozilla/menu.html</a>
</ul>
