---
layout: default
main_title: 理念
---

<p>クリアコードの理念は、<strong>フリーソフトウェアとビジネスの両立</strong>です。</p>

<p>当社の目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。</p>

<p>どのようにそれを実現するかの取り組み方については、<a title="クリアコードとフリーソフトウェアとビジネス - ククログ(2015-09-17)" href="/blog/2015/9/17.html">クリアコードとフリーソフトウェアとビジネス</a>という記事で詳しくご紹介しています。</p>

<h2 id="development">開発</h2>

<p>開発はクリアコードの核となる活動です。そのため、「どのように開発するか」がクリアコードという会社がどのような会社となるかを大きく左右します。クリアコードでは次のように開発しています。このような開発を積み重ねてクリアコードの理念を実現しています。</p>

<ul>
  <li><a href="development/style.html">開発スタイル</a></li>
</ul>
