---
layout: default
---
{% capture full_title %}{{ page.title }} - {{ page.date | date: "%Y-%m-%d" }} - {{ site.blog_name }}{% endcapture %}

<h2><a href="{{ page.url | relative_url }}">{{ page.title | xml_escape }}</a></h2>

<div class='grid-x'>
<div class='cell medium-9'>
<nav class="post-metadata">
  <ul>
    <li><span class="date">{{ page.date | date: "%Y-%m-%d" }}</span></li>
    {% if page.author %}
    <li><span class="author">{{ site.blog.author_labels[page.author] }}</span></li>
    {% endif %}
  </ul>
</nav>

<div class="post">
  {% if page.toc %}
    {% include toc.html html=content class="callout primary float-right" %}
  {% endif %}
  {{ content }}

  {% if page.tags.size > 0 %}
  <nav class="tags">
    <p>タグ：</p>
    <ul>
    {% for tag in page.tags %}
      <li>
        <a class='tag' href="{{ "/blog/" | append: tag | append: "/" | relative_url }}"
           >{{ site.blog.tag_labels[tag] | xml_escape }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <div class="social-widgets">
    <div class="inline-social-widgets">
      <a href="http://b.hatena.ne.jp/entry/s/{{ page.url | absolute_url | remove_first: "https://" }}"
         class="hatena-bookmark-button"
         data-hatena-bookmark-layout="standard"
         title="このエントリーをはてなブックマークに追加"
         ><img src="//b.st-hatena.com/images/entry-button/button-only.gif"
               width="20"
               height="20"
               style="border: none;"
               alt="このエントリーをはてなブックマークに追加"></a>
      <a href="//twitter.com/share"
         class="twitter-share-button"
         data-lang="ja"
         data-url="{{ page.url | absolute_url }}"
         data-via="{{ site.twitter_id }}"
         data-text="{{ full_title | xml_escape }}">ツイートする</a>
    </div>
    <div class="social-widget-twitter-follow">
      <a href="//twitter.com/{{ site.twitter_id }}"
         class="twitter-follow-button"
         data-lang="ja">フォローする</a>
    </div>
  </div>
</div>

{% if page.next_posts %}
<nav class="next-posts">
  <p>つづきの記事</p>
  <ul>
  {% for next_post in page.next_posts %}
    <li>
      <a href="{% link _posts/{{ next_post.id }}.md %}">{{ next_post.title | xml_escape }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}
</div>

<div class='cell medium-3 sidebar'>
  <h4>関連情報</h4>
{% for item in site.data.sidebar %}
  {% if page.tags contains item.tag or item.tag == "all" %}
  <div class="card">
    <a href='{{ item.link | relative_url }}'>
      <img src="{{ item.image | relative_url }}">
      <div class="card-section">
        <p><small>{{item.content}}</small>
      </div>
    </a>
  </div>
  {% endif %}
{% endfor %}
</div>

<div class='cell medium-8 sidebar'>
<nav class="blog">
  <ul>
{% if page.previous %}
    <li><a class="prev" href="{{ page.previous.url | relative_url }}">{{ page.previous.title | xml_escape }}</a></li>
{% endif %}
    <li><a class="latest" href="{{ "/blog/" | relative_url }}">最新記事</a></li>
{% if page.next %}
    <li><a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title | xml_escape }}</a></li>
{% endif %}
  </ul>
</nav>

<nav class="blog-tags">
  <p>タグ：</p>
  <ul>
  {% for tag in site.blog.tags %}
    <li>
      <a class='tag' href="{{ "/blog/" | append: tag | append: "/" | relative_url }}">
        {{ site.blog.tag_labels[tag] | xml_escape }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>

<nav class="advertisings">
  <ul>
    <li>ククログの記事は<a href="{{ "/license/#blog" | relative_url }}">CC BY-SA 4.0とGFDLのデュアルライセンス</a>で自由に利用できます。</li>
    <li>クリアコードは<a href="{{ "/recruitment/" | relative_url }}">プログラミングが楽しいソフトウェア開発者を1名募集</a>しています。</li>
    <li>クリアコードは<a href="{{ "recruitment/fine-tuner.html" | relative_url }}">「クリアコードをいい感じにする人」を1名募集</a>しています。</li>
    <li>クリアコードは<a href="{{ "/services/" | relative_url }}">フリーソフトウェア開発で培った技術力を提供</a>しています。特に<a href="{{ "/services/#mozilla" | relative_url }}">Mozilla製品（Mozilla FirefoxとMozilla Thunderbird）</a>とRubyと<a href="{{ "/services/#groonga" | relative_url }}">Groonga（全文検索）</a>に関連した開発を得意としています。</li>
  </ul>
</nav>
</div>
</div>
