---
layout: default
main_title: 内容
sub_title:
---

<p>クリアコードは、名前の通り、「クリアなコードで書くことを当たり前なこと」としてソフトウェアを開発する会社です。クリアコードの開発者がよりクリアなコードを書けるようにするためにしていることは、日々「他の開発者のコードを読むこと」です。他の開発者のコードを読むことで、他の開発者が実践しているよいコードの書き方を取り入れることができます。ある開発者がよいコードの書き方を取り入れ、その開発者も同じように書くと、他の開発者はまた同じよいコードの書き方を読むことになります。何度も同じよいコードの書き方を読むことにより、よいコードの書き方が強化され、いずれ定着します。このような「みんながみんなのコードを読む」文化により、開発すればするほどよりクリアなコードを書ける仕組みになっています。このような仕組みをあなたの開発チームで実現するために、あなたの開発チームでの「みんながみんなのコードを読む」文化作りを支援するサービスが「コードリーダー育成支援」です。</p>

<h2>コードリーダー（Code Reader/Code Leader）とは</h2>
<p>「コードリーダー（Code Reader）」とはコードを読む技術を持ち、日々それを使ってコードを読み、そこからよいコードの書き方を学んでいる人のことです。みんながみんなのコードを読む文化では、みんながコードリーダーです。コードリーダーは、まだ知らないことを学習する方法を持っているため、よいコードを書く技術を日々磨いています。いずれ、コードリーダー（Code Leader）として、よいコードであなたの開発チームをリードしていきます。よくないコードがあったら「こういうコードの方が○○という理由でよいですよ！」とコードと一緒に伝えます。場合によっては、「今のコードだと問題があるのでよくしておきましたよ！」と直しておきます。</p>

<p>コードでリードするコードリーダー（Code Leader）が増えている文化は、新しいメンバーの育成にも有効です。新しいメンバーは最初はみんなのコードをうまく読めません。コードリーダー（Code Reader）のスキルがないからです。同じ開発チームのコードリーダー（Code Leader）になったメンバーが、新しいメンバーを支援しましょう。新しいメンバーが他のメンバーが書いたコードから学習できるようになると、開発チーム内のよい習慣を効率よく吸収できます。新しいメンバーが、指導対象である「新米」から、一緒に開発する「仲間」になるのは時間の問題です。</p>

<p>コードリーダー育成支援サービスでは、あなたの開発チームのメンバーが「コードを読む技術」、「日々コードを読む習慣」を身につけ、コードリーダーとなることを支援します。その後は、コードリーダーとなった人たちが、同じ開発チームの新しいメンバーや、まわりの開発チームをリードし、まわりの開発チームのメンバーもコードリーダーになれるように支援しましょう。クリアコードの支援がなくても実現できれば、立派なコードリーダー（Code Leader）です。コードリーダー育成支援サービスが目指すのはそこです。</p>

<h2>対象者・非対象者</h2>
<p>TODO: コードリーダー育成支援サービスでは</p>


<h2>みんながみんなのコードを読む文化について</h2>

<h3>みんながみんなのコードを読むとは</h3>
<p>「みんながみんなのコードを読む」とはどのような活動になるのか説明します。ここでいう「みんな」とは同じ開発チームのメンバーのことです。「みんなのコードを読む」ということはコミットされたすべてのコードを読むということです。それを「みんなが」実践します。それぞれのメンバーはコードリーダーとして行動します。つまり、

もし、コミットされたコードを読んで気になることがあったらコメントします。間違いに気づいた場合は修正します。ここでいう「コードを読む」という活動はレビューのように堅苦しいものではありません。「間違いは絶対見逃さないぞ！」という意気込みでやるものではなく、「同じ開発チームのメンバーがどのようなコードを書いているか」を共有するためにやるものです。</p>

<p>Pull Requestベースの開発が目指していることとは違います。Pull Requestベースの開発が目指していることはいかにコストを低く機能を仕上げていくかです。Pull Requestをすると他のメンバーとやりとりする場ができるので、機能についての相談もしやすくなります。コードにコメントをつけることができるので問題の指摘をしやすくなります。（TODO:雑）</p>

<p>コードリーダーは機能を仕上げることを目的としていません。目的はそれぞれのメンバーおよび開発チームの学習です。（TODO:雑）</p>

<h3>みんなのコードを読むことで実現すること</h3>
<p>みんながみんなのコードを読む文化で実現することのうち、まずは、開発チーム全体ではなく開発チームのメンバーそれぞれで実現することについて説明します。</p>

<p>一番大事なことは日々コードを読む習慣をつけることです。これは他の実現することのベースとなります。日々コードを読む習慣がない人が多いことからわかる通り、最初は敷居が高いことが難点です。このサービスでは習慣にすることを支援する仕組みを用意しています。</p>

<p>次に大事なことは日々読んでいるコードからよいコードを見つけるスキルを身につけることです。よいコードの書き方を自分の書き方に取り込むための入り口になります。これも最初はうまく実現できないので、支援する仕組みがあります。</p>

<p>実現することの最後は、他のメンバーから取り込んだよいコードの書き方を実践することです。慣れてくると、取り込んだよいコードの書き方を元に新しいよいコードの書き方を生み出せるようになります。これは比較的慣れやすいため他の項目より実現しやすいですが、支援する仕組みを用意しています。</p>

<p>開発チームのメンバーそれぞれはこれらのことを実現することを目指します。</p>

<h3>みんながみんなのコードを読むことで実現すること</h3>
<p>それでは、みんながみんなのコードを読む文化で実現することのうち、開発チーム全体で実現することについて説明します。</p>

<p>一番大事なことはよいコードを書くことです。よいコードを書くことが他のメンバーがよいコードを見つける機会につながります。よいコードがなかなか見つからないと、コードを読む側もどうして読んでいるのかわからなくなってきます。みんながみんなのコードを読む文化へのエンジンとなることです。もちろん、「今はよいコードが少ないからこのコードリーダー育成支援を検討しているのに…どうしたら…」という状況は想定しています。その状況を打開する仕組みも用意しています。</p>

<p>他に実現することは、コードをきっかけとしたコミュニケーションを増やすことです。コミュニケーションすること自体が目的ではなく、開発チームのメンバーのコードに関する知見やアイディアを開発チームで共有することが目的です。コミュニケーションがコードをきっかけとして始まったことであれば、コードに関する話題が多くなります。コードをきっかけとすることで、コードに関する情報の共有を促します。ただし、効率を重視しすぎてコード以外のコミュニケーションを排除しようとは思わないでください。そのような動きはコードに関するコミュニケーションも一緒に排除してしまいます。</p>

<p>少し先のステップの実現することについても説明します。開発チームがみんながみんなのコードを読む文化になってきたら、新しい人を受け入れ、その人にも自分たちのコードでよいコードを伝えます。よいコードを効率よく伝えることができるはずです。ここまで実現できていればみんながみんなのコードを読む文化が根付いたといえます。目指すところはここです。</p>

<h2>みんながみんなのコードを読む文化の作り方</h2>
<p>次のプロセスでみんながみんなのコードを読む文化を作ります。</p>

<h3>1. 「みんながみんなのコードを読む文化」を目指す目的の共有</h3>
<p>最初にどうして自分たちは「みんながみんなのコードを読む文化」を目指すかを確認します。目的はこのページに書いています。一言で言うと、「開発チームでよいコードの書き方を効率よく共有するため」です。このサービスでは導入研修としてクリアコードのコードリーダー（Code Leader）が目的を説明します。</p>
<p>導入研修では次の資料も使います。このサービスの元になった考えが書いているからです。</p>
<ul>
	<li><a href="../blog/2012/6/11.html" title="リーダブルコードの解説">リーダブルコードの解説</a></li>
	<li><a href="../blog/2012/12/18.html" title="DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012">DevLOVE 2012: 「リーダブルコードを読んだ後」 #devlove2012</a></li>
</ul>

<p>このフェーズはとても大事です。目的を自分の中で納得できたものに噛み砕けていないと、これ以降のフェーズでなにをやっても「作業をこなすことが目的」になってしまう危険性が高くなります。たとえば、「コードを読むこと」が目的になりそれで終わりになる危険性があります。読んだコードからよいコードを見つけて自分の書き方に取り込むところまでいかないかもしれません。そのため、たとえ予定より時間が伸びたとしても開発チームに納得できないメンバーがいた場合は、質問したり、自分の考えを伝えたり、話し合うべきです。クリアコードのコードリーダー（Code Leader）も質問に答えますし、説明のしかたを変えたりもします。もし、納得できないメンバーの考えが妥当である場合は、このサービスの中止も現実的な選択です。</p>

<p>開発チームとして「みんながみんなのコードを読む文化」を目指すことに納得した場合は次のフェーズに進みます。</p>

<h3>2. コードの読み方を学ぶ</h3>
<p>実際のコードを読む前にコードの読み方を学びます。この内容も導入研修に含まれています。</p>
<p>次の書籍や記事を資料として使います。</p>
<ul>
	<li><a href="http://amzn.to/LM0TDr" title="リーダブルコード">リーダブルコード</a>：悪いコードをよいコードに改良する例とどうしてよいかの理由が書いています。よいコードを見つけるための知識になります。導入研修中に1冊全部読んでいる時間ないので、導入研修中には読まず、前か後に読んでもらいます。</li>
	<li><a href="http://jp.rubyist.net/magazine/?0040-CodePostMortem" title="Ruby コードの感想戦 【第 1 回】 WikiR">Ruby コードの感想戦 【第 1 回】 WikiR</a>：みんなのコードを読むときの「なんとなく読む」モードについて実践している例です。</li>
</ul>

<p>記事で基本的な読み方を確認した後、実際のコードを例によいコードを説明します。コードはコミット単位で読みます。そのため、コードだけでなく、コミットメッセージも読む対象になります。</p>
<p>その後、実際に開発チームでコミットを読んでみます。開発チームが読むコミットは、自分たちのコミットまたはすでに公開されているソフトウェアのコミットを使います。</p>

<p>導入研修で扱うのはここまでです。実際にコミットを読むフェーズなどは通常の開発プロセスの中に組み込みます。</p>

<h3>3. コミットメールが流れる仕組みを作る</h3>
<p>「みんなにみんなのコードが届く」環境を作ります。これは1度だけ実施すればよいフェーズです。</p>
<p>開発チーム全員に差分付きのコミットメールが届くよう環境を整備します。コミットメールとはコミット（またはpush）したときにコミットがあったことを通知するメールのことです。コミットメールを使えば、誰かがコミットしたらすぐに内容を確認することができます。</p>
<p>コミットメールを配信する仕組みの作り方についてはクリアコードから情報提供します。</p>
<!--<p>TODO: コミットメールを配信する仕組みの作り方<a href="../blog/..." title="...">...</a>で説明しています。</p>-->

<h3>4. コミットメールを読む</h3>
<p>このフェーズは通常の開発プロセスに組み込みます。</p>
<p>開発チームのメンバーそれぞれが自分のペースでコミットメールを読みます。よいコミットを見つけたら、積極的に自分のコミットに取り入れます。</p>
<p>ただし、最初の頃はよいコミットを見つけることが難しいでしょう。原因は次のどちらかです。</p>
<ul>
	<li>まだよいコミットを見つけるスキルが足りない</li>
	<li>そもそもよいコミットが少ない</li>
</ul>
<p>それぞれについて支援する方法が違います。</p>
<p>まだよいコミットを見つけるスキルが足りない場合は、クリアコードのコードリーダー（Code Leader）がよいコミットを見つけて、コミットにコメントします。「このコミットは○○なのでよいコミットですね！」といった具合です。そうすれば、まだスキルが足りないメンバーでもよいコミットに気づくことができます。これを繰り返してよいコミットを見つけられるスキルをあげていきます。</p>
<p>すでにスキルがあがっているメンバーはよいコミットを積極的に自分のコミットに取り入れてください。よいコミットをする人が増えるとそれだけよいコミットを目にする機会が増えます。まだスキルが足りないメンバーでも同じ傾向のコミットが増えると「最近こんなコミットが多いな…」と気づけます。スキルが上がってきたメンバーも他のメンバーを助けるためにもよいコミットを取り入れましょう。</p>
<p>そもそもよいコミットが少ない場合は、開発チームの中でよいコミットとはどんなこみっとなのかという知識が不足している可能性が高いです。そのため、クリアコードのコードリーダー（Code Leader）がよくないコミットを見かけたら「こんな風なコミットにすると○○という理由でもっとよくなりますよ！」とコメントします。こうすることにより、クリアコードが持っているよいコミットの知識を開発チームに伝えて、開発チームが自分たちでよいコミットをしていけるように支援します。</p>
<p>すでによいコミットをできるメンバーがいる場合は一緒にコメントするのもよいでしょう。ただし、「このときはこう書いてください。」というように理由なしで書き方を押しつけないように注意してください。完全に同じ状況でしか使えない知識になってしまいます。理由も一緒に伝えて、それを納得してもらえれば、類似のパターンでも広く使える知識になります。</p>
<p>クリアコードのコードリーダー（Code Leader）がコメントしたときに、コメントされたコミットをしたメンバーに限らず、他のメンバーもよりよいコミットにするために思ったことがあったらアイディアをだしましょう。開発チームにとってのよいコードを具体化するよい機会です。</p>

<h3>5. コミットを読んで感じたことを表明する</h3>

<p>コミットを読み続ける目的は他のメンバーのコミットからよいコードを学び続けることです。効率よくコミットから学ぶためには、コミットを読むコストを下げながらもコミットから情報を得られるようにしなければいけません。情報を得るための練習として、毎日、コミットを読んで感じたことを表明します。</p>

<p>やり方は2つあります。1つは毎日のチームの集まりを利用する方法。もう1つはコミットを利用する方法です。</p>

<p>もし、朝会など毎日集まる機会があるならそこで各自「昨日（または今日）印象に残ったコミット」を報告します。クリアコードはこのスタイルです。</p>

<p>チームがリモートで作業しているなど、毎日集まる機会がない場合は、毎日次の内容を記録してコミットをコミットします。</p>
<ul>
	<li>コミットメールの何割を読めたか（割合は個人の直感）</li>
	<li>印象に残ったコミット</li>
</ul>

<p>コミットはみんなが読んでいるはずなのでコミットすれば共有できるというわけです。</p>

<p>「印象に残ったコミット」は「すごいよいコミット」でなくても構いません。「自分がtypoしていたのを直してくれていたコミットがあって助かった」とかでも構いません。コードを読んで感じたことをスッと言えるようになることが重要です。</p>

<p>具体的に「よいコミット」や「悪いコミット」としていないのは、コミットを読む視点を狭めないためです。「悪いコミット」を表明する習慣にすると、間違い探しをする目でコミットを読んでしまいます。これではコードレビューと変わりません。これは、もっと、自然にコミットを読み、自然にコミットから情報を得られる技術を身につけるための活動です。</p>

<h3>6. 読まれることを考えてコミットする</h3>

<p>コミットを読むことに慣れてきたら、コミットを読んだ経験を活かしてコミットします。</p>
<dl>
	<dt>読みやすいコミットを実践する</dt>
	<dd>コミットのサイズを小さく、名前はわかりやすく、インデントを揃えるなど、読んだ側が理解しやすいようにするためにはどうすればよいか、自分が読んでいるときのことを思い出しながら読みやすいコードを書いてコミットします。</dd>
	<dt>よいコミットを真似する</dt>
	<dd>他のメンバーのコミットを読んでこれはよいコードだと思ったら積極的に真似をします。よいと思ったものを実践することによって、よいコードが書けるようになり、また真似をされた側は励みになります。</dd>
</dl>

<h3>7. コミットメールを読む文化がどのくらい根付いてきたか定期的に測定する</h3>
<p>「コミットメールを読むこと」と「読まれることを考えてコミットすること」がどのくらいできるようになったかをデータから分析します。1コミットあたりのサイズや1日のコミット数といったデータや、6.で記録した日々のコミットが材料となります。</p>

<p>このデータは初期段階でのみ有用です。通常、1ヶ月もするとよい傾向になるので、それ以降は測定する必要はありません。</p>

<h2>クリアコードが提供するサービス</h2>
<p>みんながみんなのコードを読む文化をつくるのための上記プロセスに対して、以下のサービスを提供します。</p>

<h3>導入研修</h3>
<p>DevLOVE 2012でのセッション「リーダブルコードを読んだ後」と同様の内容を導入研修として実施します。</p>
<p>研修内容は以下の通りです。</p>
<ul>
	<li>みんながみんなのコードを読む文化を目指す理由と目的の共有</li>
	<li>コードの読み方の学習</li>
	<ul>
		<li>コードの読み方を例をもとに解説します。さらに実際に参加者がコードを読んでコメントすることを体験します。</li>
	</ul>
</ul>

<h3>コミットメールを読んでコメントする</h3>
<p>クリアコード担当者も開発チームと同じようにコミットを読みながら、より効果的にコミットを読めるようになるよう開発チームを支援します。</p>
<ul>
	<li>日々時間を決めてコミットを読む</li>
	<li>コミットを読んだ記録を残す（コードのリポジトリにコミットする）</li>
	<li>コミットを読みやすくするためのアドバイスをコメントする</li>
	<ul>
		<li>コミットを小さくする、わかりやすい名前をつける、インデントは揃えるなど</li>
	</ul>
	<li>コミットを読みやすくするための相談に答える</li>
</ul>

<h3>データ分析</h3>
<p>定期的に以下のデータを収集して分析し、レポートします。</p>
<ul>
	<li>1コミットあたりのサイズ</li>
	<li>1日のコミット数</li>
	<li>日々記録される読めたコミットメールの割合</li>
</ul>
<h3>サービス提供期間</h3>
<p>3ヶ月を目安とします。</p>
<p>コミットメールを読むこと、読みやすいコミットをすることを習慣づけるためには、継続することが不可欠です。3ヶ月のサービス期間で、コミットメールを読む文化の浸透を図るとともに、開発チームだけで自律的に続けられる体制となることを目指します。</p>
<h3>価格</h3>
<table>
	<thead>
		<tr>
			<th>サービス</th>
			<th>価格（消費税別）</th>
			<th>備考</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>導入研修</td>
			<td class="price">100,000円/回</td>
			<td>1回5名まで。4時間。</td>
		</tr>
		<tr>
			<td>コミットメールを読んでコメントする</td>
			<td class="price">100,000円/月</td>
			<td>担当者1名。読む時間の目安: 30分/日</td>
		</tr>
		<tr>
			<td>データ分析</td>
			<td class="price">30,000円/回</td>
			<td>毎月1回実施</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>3ヶ月トータル</th>
			<td class="price">490,000円</td>
			<td>研修1回、コメント、データ分析3ヶ月</td>
		</tr>
	</tfoot>
</table>
