---
layout: default
main_title: コードリーダー育成支援
sub_title:
---

<blockquote class="header-quote">
	<p>よいプログラマーは自生しない。</p>
	<p>
		人と一緒にコードを書いて、<br>
		人のコードを見て、<br>
		人がコードを書いているところを見て、<br>
		プログラマーはよくなっていくんだ。
	</p>
</blockquote>

<h2>コードリーダー育成支援サービスが解決すること</h2>

<p><a href="http://amzn.to/UdrboV" title="リーダブルコード">リーダブルコード</a>を読んで実践したくなったけど、チームでは実践できていない。リーダブルコードを読んでおけって渡したのに…</p>

<p>コードリーダー育成支援サービスが解決するのはその状態です。チームの全員が自然とリーダブルコードを書くような文化にします。<a href="/blog/2012/6/11.html" title="リーダブルコードの解説">リーダブルコードの解説</a>で説明している内容の実現を支援します。</p>

<p>コードから学び合う開発チーム作りを支援する。それがコードリーダー育成支援サービスです。</p>

<h2>サービス対象</h2>

<p>このサービスは次のようなケースに向いています。</p>
<ul>
	<li>リーダブルコードの内容をチームで実践したいのにできていない</li>
	<li>リーダブルコードを書くことが当たり前と考える新人を育てたい</li>
</ul>

<p>まずは現在お持ちの課題をご相談ください。サービスの最適な進め方について検討しましょう。導入前にトライアルを実施して理解を深めることもできます。</p>

<h2>リーダブルコードワークショップ</h2>

<p>このサービスの一環として「<a href="readable-code-workshop.html">リーダブルコードワークショップ</a>」を実施しています。1日で実施できるワークショップなのでまずはこのワークショップの実施をご検討ください。</p>

<h2>サービスのお申し込み方法</h2>

<p>次のリンク先にあるお問い合わせフォームからお申し込みください。申し込みではなく質問したい場合も同じお問い合わせフォームからお問い合わせください。</p>

<p>
<a class='btn' href="{{ "/contact/?type=code-reader" | relative_url }}">問い合わせる <i class="fas fa-angle-double-right"></i></a>

<p>このサービスは「<a href="../commit-comment.html">コミットへのコメントサービス</a>」の改良版のサービスです。コミットへのコメントサービスの内容を実施したいという方もこちらのサービスについてお問い合わせください。</p>
